In [29]:
# Perform the following operations using R/Python on suitable data sets:
# a) read data from different formats (like csv, xls)
# b) Find Shape of Data
# c) Find Missing Values
# d) Find data type of each column
# e) Finding out Zero's
# f) Indexing and selecting data, sort data,
# g) Describe attributes of data, checking data types of each column,
# h) counting unique values of data, format of each column, converting variable
# data type (e.g. from long to short, vice versa)

In [30]:
import numpy as np
import pandas as pd

In [31]:
df = pd.read_csv("C:\\Users\\hp\\OneDrive\\Desktop\\Assignmwnt ML\\Assignmwnt ML\\Customers - Customers.csv")

In [32]:
df.head()

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

In [33]:

print("Shape Of Dataframe")
print(df.shape)

Shape Of Dataframe
(2000, 8)

In [34]:
print("Missing values od dataframe")
print(df.isnull())
print("Sum of missing values of dataframe")
print(df.isnull().sum())

Missing values od dataframe
      CustomerID  Gender    Age  Annual Income ($)  Spending Score (1-100)  \
0          False   False  False              False                   False
1          False   False  False              False                   False
2          False   False  False              False                   False
3          False   False  False              False                   False
4          False   False  False              False                   False
...          ...     ...    ...                ...                     ...
1995       False   False  False              False                   False
1996       False   False  False              False                   False
1997       False   False  False              False                   False
1998       False   False  False              False                   False
1999       False   False  False              False                   False

      Profession  Work Experience  Family Size
0          False            False        False
1          False            False        False
2          False            False        False
3          False            False        False
4          False            False        False
...          ...              ...          ...
1995       False            False        False
1996       False            False        False
1997       False            False        False
1998       False            False        False
1999       False            False        False

[2000 rows x 8 columns]
Sum of missing values of dataframe
CustomerID                 0
Gender                     0
Age                        0
Annual Income ($)          0
Spending Score (1-100)     0
Profession                35
Work Experience            0
Family Size                0
dtype: int64

In [35]:
print("datatype od each of column: ")
print(df.info())

datatype od each of column:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              2000 non-null   int64
 1   Gender                  2000 non-null   object
 2   Age                     2000 non-null   int64
 3   Annual Income ($)       2000 non-null   int64
 4   Spending Score (1-100)  2000 non-null   int64
 5   Profession              1965 non-null   object
 6   Work Experience         2000 non-null   int64
 7   Family Size             2000 non-null   int64
dtypes: int64(6), object(2)
memory usage: 125.1+ KB
None

In [36]:
print("zeros in each column: ")
print((df==0).sum())

zeros in each column:
CustomerID                  0
Gender                      0
Age                        24
Annual Income ($)           2
Spending Score (1-100)      2
Profession                  0
Work Experience           431
Family Size                 0
dtype: int64

In [37]:
print("Sort dataframe on the basis of column: ")
print(df.sort_values)

Sort dataframe on the basis of column:
<bound method DataFrame.sort_values of       CustomerID  Gender  Age  Annual Income ($)  Spending Score (1-100)  \
0              1    Male   19              15000                      39
1              2    Male   21              35000                      81
2              3  Female   20              86000                       6
3              4  Female   23              59000                      77
4              5  Female   31              38000                      40
...          ...     ...  ...                ...                     ...
1995        1996  Female   71             184387                      40
1996        1997  Female   91              73158                      32
1997        1998    Male   87              90961                      14
1998        1999    Male   77             182109                       4
1999        2000    Male   90             110610                      52

         Profession  Work Experience  Family Size
0        Healthcare                1            4
1          Engineer                3            3
2          Engineer                1            1
3            Lawyer                0            2
4     Entertainment                2            6
...             ...              ...          ...
1995         Artist                8            7
1996         Doctor                7            7
1997     Healthcare                9            2
1998      Executive                7            2
1999  Entertainment                5            2

[2000 rows x 8 columns]>

In [38]:
print("Description Of Dataframe: ")
print(df.describe)

Description Of Dataframe:
<bound method NDFrame.describe of       CustomerID  Gender  Age  Annual Income ($)  Spending Score (1-100)  \
0              1    Male   19              15000                      39
1              2    Male   21              35000                      81
2              3  Female   20              86000                       6
3              4  Female   23              59000                      77
4              5  Female   31              38000                      40
...          ...     ...  ...                ...                     ...
1995        1996  Female   71             184387                      40
1996        1997  Female   91              73158                      32
1997        1998    Male   87              90961                      14
1998        1999    Male   77             182109                       4
1999        2000    Male   90             110610                      52

         Profession  Work Experience  Family Size
0        Healthcare                1            4
1          Engineer                3            3
2          Engineer                1            1
3            Lawyer                0            2
4     Entertainment                2            6
...             ...              ...          ...
1995         Artist                8            7
1996         Doctor                7            7
1997     Healthcare                9            2
1998      Executive                7            2
1999  Entertainment                5            2

[2000 rows x 8 columns]>

In [39]:
unique_counts = df.nunique()
print("Unique counts: ",unique_counts)

Unique counts:  CustomerID                2000
Gender                       2
Age                        100
Annual Income ($)         1786
Spending Score (1-100)     101
Profession                   9
Work Experience             18
Family Size                  9
dtype: int64

In [40]:
print("List all columns of daraframe: ")
print(df.columns)

List all columns of daraframe:
Index(['CustomerID', 'Gender', 'Age', 'Annual Income ($)',
       'Spending Score (1-100)', 'Profession', 'Work Experience',
       'Family Size'],
      dtype='object')